@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: quicksand, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

.jumbotron {
    padding: 60px;
    background-color: #000;
    text-align: center;
    font-size: 20px;
    color: #21f8f6;
}

header {
    display: inline;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

h2 {
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

#content {
    float: left;
    width: 75%;
}

footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

footer>p {
    color: rgb(255, 255, 255);
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}


/* table {
    border: 1px solid;
    border-collapse: ;
    width: 100%;
}
 */


/* #content img { 
    width: 1000px;
}

#navbar {
    background-color: rgb(0, 0, 0);
    color: #21f8f6;
    padding: 5px;
    text-align: end;
}

#navbar li {
    list-style-type: none;
    display: inline;
    padding: 25px;
}
*/

.featured-image {
    width: 100%;
    max-height: 300px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}