footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px;
}

footer>p {
    color: rgb(255, 255, 255);
}

aside {
    text-align: center;
    padding: 100px;
}

table {
    border: 1px solid;
    border-collapse: ;
    width: 100%;
}